{{ define "header" }}
<header id="header" class="header" style="background-image: url(/img/bgs/{{ $.Scratch.Get "bgImage" }}.jpg)">
  <div class="container post-container">
    <a href="/" class="home_button"></a>
    <div class="inner-container">
      <h1>{{ .Title }}</h1>
      <ul class="meta">
  <li>
    <span>
      Publié le
    </span>
    {{ dateFormat "2" .Date }} {{ index $.Site.Data.mois (dateFormat "1" .Date) }} {{ dateFormat "2006" .Date }}
  </li>
  {{ if not (eq .Date .Lastmod) }}
  <li>
    <span>
      Modifié le
    </span>
    {{ dateFormat "2" .Lastmod }} {{ index $.Site.Data.mois (dateFormat "1" .Lastmod) }} {{ dateFormat "2006" .Lastmod }}
  </li>
  {{ end }}
      </ul>
      <div class="featured-image-caption"><a href="{{ $.Scratch.Get "bgCaptionLink" }}">{{ $.Scratch.Get "bgCaption" }}</a></div>
    </div>
  </div>
  <div class="featured-image-caption-home"><a href="{{ $.Scratch.Get "bgCaptionLink" }}">{{ $.Scratch.Get "bgCaption" }}</a></div>
</header>
{{ end }}
{{ define "main" }}
<article>
  <div class="container">
    {{ .Content }}
  </div>
</article>
{{ end }}
