{{ define "header" }}
<header id="home-header" class="header" style="background-image: url(/img/bgs/{{ $.Scratch.Get "bgImage" }}.jpg)">
  <div class="container">
    <h1><a href="/">{{ .Site.Author.name }}</a></h1>
    <ul class="meta">
      <li>
	<span>
	  {{ .Title }}
	</span>
      </li>
    </ul>
  </div>
  <div class="featured-image-caption-home"><a href="{{ $.Scratch.Get "bgCaptionLink" }}">{{ $.Scratch.Get "bgCaption" }}</a></div>
  {{ partial "links" . }}
</header>
{{ end }}
{{ define "main" }}
<article>
  <div class="container">
    {{ partial "list" . }}
  </div>
</article>
{{ end }}
